* {
    outline: none;
    font-family: Arial, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/yuri-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    &:after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        pointer-events: none;
    }
    section {
        position: relative;
        padding-top: 20px;
        width: 100%;
        z-index: 999;
        input {
            display: block;
            background-color: transparent;
            border: 0;
            border-bottom: solid 3px white;
            color: white;
            line-height: 2em;
            font-size: 2em;
            width: 50%;
            margin: 0 auto;
        }
        .items-container {
            padding: 0 5% 30px;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -moz-flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            -moz-justify-content: space-around;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            .item {
                margin: 20px 5px;
                color: white;
                text-align: center;
                -moz-flex: 0 0 200px;
                -webkit-flex: 0 0 200px;
                flex: 0 0 300px;
                background-color: rgba(0, 0, 0, .7);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    width: 100%;
                }
                .item-download-link {
                    color: white;
                    margin-bottom: 10px;
                    font-size: 2.5em;
                }
            }
        }
    }
}