* {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/yuri-background.jpg');
    background-size: cover;
    box-sizing: border-box;
    &:after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        pointer-events: none;
    }
    section {
        position: relative;
        padding-top: 20px;
        width: 100%;
        z-index: 999;
        input {
            display: block;
            background-color: transparent;
            border: 0;
            border-bottom: solid 3px white;
            color: white;
            line-height: 2em;
            font-size: 2em;
            width: 50%;
            margin: 0 auto;
        }
        .items-container {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            /*width: 100%;*/
            .item {
                width: 300px;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                margin: 20px 5px;
                img {
                    width: 100%;
                    /*border-radius: 5px;*/
                }
            }
        }
    }
}